<h1 class="title">{{site.contact_title}}</h1>
<p class="subtitle">{{site.contact_description}}</p>

<div class="contact-icons">
  {% if site.email != null %}
  <a class="social-link" aria-label="My E-Mail" href="mailto:{{site.email}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ '/assets/img/solid.svg#envelope' | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.telegram_username != null %}
  <a class="social-link telegram" aria-label="My Telegram" target="_blank"
     rel="noreferrer" href="https://telegram.me/{{site.telegram_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ '/assets/img/brands.svg#telegram-plane' | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.linkedin_username != null %}
  <a class="social-link linkedin" aria-label="My LinkedIn" target="_blank" rel="noreferrer"
     href="https://www.linkedin.com/in/{{site.linkedin_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ '/assets/img/brands.svg#linkedin-in' | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.github_username != null %}
  <a class="social-link" aria-label="My GitHub" target="_blank"
     rel="noreferrer" href="https://github.com/{{site.github_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ '/assets/img/brands.svg#github' | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.whatsapp_number != null %}
  <a class="social-link" aria-label="My Whatsapp" target="_blank"
     rel="noreferrer" href="https://wa.me/{{site.whatsapp_number}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ '/assets/img/brands.svg#whatsapp' | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.instagram_username != null %}
  <a class="social-link instagram" aria-label="My Instagram" target="_blank"
     rel="noreferrer" href="https://instagram.com/{{site.instagram_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ '/assets/img/brands.svg#instagram' | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.facebook_username != null %}
  <a class="social-link facebook" aria-label="My Facebook" target="_blank"
     rel="noreferrer" href="https://facebook.com/{{site.facebook_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ '/assets/img/brands.svg#facebook-f' | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}
</div>
